.notification-container {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(40%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.notification-container.show {
    opacity: 1;
    transform: translateY(0);
}

.notification-container.finish {
    transform: translateY(-50px);
    opacity: 0;
}

.notification-container.success {
    color: green;
    border: 1px solid green;
    background-color: rgb(240, 255, 240);
}

.notification-container.error {
    color: rgb(158, 0, 0);
    border: 1px solid rgb(158, 0, 0);
    background-color: rgb(255, 233, 233);
}