.public-link-link-container {  
    display: flex;
    flex-direction: column;
    background-color: var(--lightPurple);
    height: 60px;
    min-height: 50px;
    width: 80%;
    border: 1px solid transparent;
    max-width: 700px;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    font-size: 20px; 
    padding: 10px;
    transition: background-color 100ms linear;
}

.public-link-link-container:hover {
    background-color: rgb(237, 211, 253);
    border-color: var(--darkPurple);
}