.body-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 65px);
    max-height: calc(calc(var(--vh, 1vh) * 100) - 65px);
    overflow-y: hidden;
    position: relative;
}

.body-link-list-loader-holder {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.notification-in-body-holder {
    position: fixed;
    bottom: 50px;
    left: 50px;
}