.main-container {
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    background-color: rgb(254, 251, 255);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.main-holder {
    position: relative;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: inherit;
}
