.loading-wheel-loader {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border-top: 2px solid grey;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}