.header-container {
    top: 0;
    z-index: 100;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    height: 45px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 1px 40px 1px rgba(157, 0, 255, 0.103);
}

.header-logo-container {
    width: fit-content;
    color: var(--purple);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.header-settings-container {
    z-index: 101;
    width: fit-content;
    display: flex;
    align-items: center;
}

.header-arrow-icon-holder {
    cursor: pointer;
}

.header-user-name-holder {
   margin-right: 10px;
   margin-left: auto;
   color: rgb(49, 49, 49);
   font-weight: 500;
   
}

.header-link-copy-holder {
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding-right: 4px;
}

.header-link-holder {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-copy-holder > button {
    padding: 8px 10px 8px 10px;
    height: 100% !important;
}



.setting-popup-holder {
    position: absolute;
    top: 66px;
    right: 5px;
}

@media only screen and (max-width: 530px) {
    .header-user-name-holder {
        display: none;
    }

    .header-account-icon-holder {
        margin-left: auto;
    }

    .header-link-copy-holder {
        display: none;
    }
}