.full-page-public-link-container {
    background-color: var(--purple);
    min-height: calc(var(--vh, 1vh) * 100);
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.public-link-intro {
    margin-top: 30px;
    width: 90%;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
}

.public-link-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 500px) {
    .public-link-intro {
        font-size: 30px;
    }
}